@mixin box-header($name, $color, $bgcolor) {
    .box,
    .slider .ui-slider-range,
    .progress .ui-progressbar-value,
    .sliderVertical .uislider-range,
    .progressSlim .ui-progressbar-value{
        background: $bgcolor !important;
        border-color: $bgcolor !important;
        color: $color;
    }
}
