@charset "utf-8";
/* CSS Document */

.navbar-inverse {
    background-color: #1bbc9b;
    border-color: #080808;
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #1bbc9b;
    color: #fff;
}
.navbar-nav a:hover{
	background-color: #1bbc9b;
}
.navbar-inverse .navbar-nav > li > a {
    color: #666;
}
.content_box{
	min-height:300px;
	margin:0;
	padding:0;
}
.box_topic{
	background-color:#f0f0f0;
	margin:0;
	padding:0;
}
.button_sec{
	float:right;
	margin:0;
	padding:0;
}
.del_button{
	margin:0;
	padding:0;
}
.edit_button{
	margin:0;
	padding:0;
}
.dt_table{
	width:98%;
	/*border:1px solid #7c888a;*/
	margin:0;
	padding:10px;
}
.form-group {
    margin-bottom: 0;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 5px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 60%;
}